body{
    background-color: #121213;;
}

#intro{
    width: 100%;
    height: 100vh;

    .intro_text {
        font-weight: bold;
        font-size: 3rem;
        line-height: 1;
        color: #fff;
    }
}

#header {
    width: 100%;
    height: 100vh;
    z-index: 10000;

    .header_top {
        width: 100%;
        height: 20vh;
        @include flex-j-between;
        padding: 30px;

        .header_nav {
            position: fixed;
            right: 50px;
            top: 50px;
            z-index: 1000;
            text-align: center;
            transition: all 0.3s;

            li {
                display: inline-block;

                a {
                    font-size: 1rem;
                    padding-left: 70px;
                    transition: all 0.5s;
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: #fff;
                }

                a.scrolled {
                    font-size: 0.95rem;
                    padding-left: 10px;
                    color: #1c1c1c;;
                }
            }
        }

    }

    .header_bottom{
        width: 100%;
        height: 80vh;
        padding: 30px;
        @include flex-j-between;
        align-items: flex-end;
    
        .header_name{
            width: 100%;
            font-weight: bold;
            font-size: 10rem;
            line-height: 1;
            position: fixed;
            bottom: 50px;
            left: 50px;
            transition: all 0.5s;
            color: #fff;
        }

        .header_name.scrolled{
            font-size: 3rem;
            bottom: 710px;
            color: #1c1c1c;;
        }
    }
}