#header{
    @include position-fixed;
    z-index: 10000;
}

.header_wrap{
    @include flex-j-between;
    padding: 50px;

    .header_logo{
        font-size: 2rem;
        line-height: 1;
    }

    .header_nav{
        right: 20px;
        top: 20px;
        z-index: 1000;
        text-align: center;

        li{
            display: inline-block;

            li:hover a{
                text-decoration: dashed 1px solid black;
            }

            a{
                padding-left: 70px;
                transition: all 0.3s;
                font-size: 1.5rem;
            }
        }
    }
}