* {
    color: #fff;
}

.intro_bg {
    height: 100vh;
    background-color: #000000;
    @include position-fixed;
}

#intro {
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;

    .intro_top {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .intro_name {
            font-weight: bold;
            font-size: 5em;
            line-height: 1;
            transition: all 1s ease;
        }
    }


    .intro_wrap {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .intro_text_item {
            font-weight: bold;
            font-size: 4rem;
            line-height: 1;
            transition: all 1s ease;
        }
    }

    .nav {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .menu {
            transition: all 1s ease;
            font-size: 4em;
            font-weight: bold;
        }

    }

}

#intro.animate{
    justify-content: unset;
}

.intro_top.animate, #intro .nav.animate{
    display: unset;
    height: unset;
}

#intro .intro_top .intro_name.animate{
    position: fixed;
    top: 30px;
    left: 30px;
    font-size: 2em;
    color: #1c1c1c;
}

.intro_text_item.animate{
    display: none;
}

#intro .nav.animate{
    position: fixed;
    top: 20px;
    right: 20px;
}

.menu_box.animate{
    display: inline-block;
}

#intro .nav .menu.animate{
    font-size: 1em;
    padding-left: 10px;
    color: #1c1c1c;
}
