* {
    color: #fff;
}

.intro_bg {
    height: 100vh;
    background-color: #000000;
    @include position-fixed;
}

#intro {
    width: 100%;
    height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;

    .intro_top {
        width: 100%;
        height: 15vh;
        @include flex-j-between;

        .intro_text {
            width: 40%;
            font-weight: bold;
            font-size: 3em;
            line-height: 1;
            transition: all 1s ease-in-out;
        }

        .nav {
            transition: all 1s ease-in-out;

            li{
                display: inline-block;
            }

            .menu {
                transition: all 1s ease-in-out;
                font-size: 2em;
                font-weight: bold;
                padding-left: 20px;
            }
    
        }
    }

    .intro_center{
        width: 100%;
        height: 45vh;
        @include flex-center;

        .intro_center_img{
            width: 300px;
            height: 300px;
            background-image: url(/assets/img/ef_img2.jpg);
            background-size: cover;
            background-position: center;
            border-radius: 30px;
            transition: all 1s ease-in-out;
        }
    }

    .intro_wrap {
        width: 100%;
        height: 45vh;
        display: flex;
        align-items: flex-end;

        .intro_logo {
            font-weight: bold;
            font-size: 8rem;
            line-height: 1;
            transition: all 1s ease-in-out;
        }
    }

}

#intro .nav.animate{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
}

#intro .nav .menu.animate{
    font-size: 1em;
    padding-left: 10px;
    color: #1c1c1c;
}

#intro .intro_wrap .intro_logo.animate{
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 2em;
    color: #1c1c1c;
    z-index: 999;
}