.intro_bg {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    @include position-fixed;
    z-index: 999;
}

#intro {
    width: 100%;
    height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;

    .intro_top {
        width: 100%;
        height: 35%;
        height: auto;
        @include flex-j-between;

        .intro_text {
            width: 40%;
            font-weight: bold;
            font-size: 3em;
            line-height: 1;
            transition: all .6s ease-in-out;
        }

        .nav {
            transition: all .6s ease-in-out;
            display: flex;
            justify-content: space-between;
            gap: 20px;

            .menu {
                display: block;
                transition: all .6s ease-in-out;
                font-size: 1.5em;
                cursor: pointer;
            }
        }

    }
}

.intro_center {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;

    .intro_center_img {
        width: 250px;
        height: 250px;
        background-image: url(/img/ef_img2.jpg);
        background-size: cover;
        background-position: center;
        // transition: all .6s ease-in-out;
        border-radius: 40px;
    }

    .intro_line {
        width: 100%;
        height: 10px;
        color: #fff;
        border-top: 1px solid;
        opacity: 0;
        transform: scaleX(0);
        transition: transform 1.8s cubic-bezier(.075, .82, .165, 1);
        transition-delay: 0s;
        transform-origin: center left;
    }
}

.intro_wrap {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: flex-end;

    .intro_logo {
        font-weight: bold;
        font-size: 8rem;
        line-height: 1;
        transition: all .6s ease-in-out;
    }
}

#intro .nav.animate {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
}

#intro .nav .menu.animate {
    font-size: 1em;
    gap: 10px;
    color: #1c1c1c;
}

#intro .nav .menu.animate::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid;
    transform: scaleX(0);
    transition: transform .6s cubic-bezier(.075, .82, .165, 1);
    transform-origin: center right;
}

#intro .nav .menu.animate:hover::after {
    transform: scale(1);
    transform-origin: center left;
}

.intro_center .intro_line.ready {
    opacity: .4;
    transform: scaleX(1);
    transition-delay: .8s;
    transform-origin: center left;
}

#intro .intro_wrap .intro_logo.animate {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 2em;
    color: #1c1c1c;
    z-index: 999;
}